<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Dropdown</title>
     <script type = "text/javascript" src="function.js"></script>  

 </head>
 <body>
    <form action="#" method="post" >
    <form>
    <select name="wine" method="GET" action="/">
        <option value="{{wines[0]}}" selected>{{wines[0]}}</option>
        {% for wine in wines[1:] %}
          <option value="{{wine}}">{{wine}}</option>
        {% endfor %}
      </select>
    <select name="year" method="GET" action="/">
        <option value="{{years[0]}}" selected>{{years[0]}}</option>
        {% for year in years[1:] %}
          <option value="{{year}}">{{year}}</option>
        {% endfor %}
      </select>  

      <input type="submit" value ="Submit">
      </form>
    
 </body>


 </html>